[MAIN]
jobs=0

[MESSAGES CONTROL]
disable=too-many-arguments,
        no-self-argument,
        global-statement,
        fixme,
        too-few-public-methods,
        too-many-instance-attributes,
        too-many-locals,

[FORMAT]
max-line-length = 120

[BASIC]
good-names=i,
           j,
           k,
           x,
           q,
           _,
           f,
           df,
           pl,
           ax,

[MASTER]
extension-pkg-allow-list=pydantic
